################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/usb-relay-hid-service/v16
/bin
/obj
**.user
